@charset "UTF-8";
@font-face {
    font-family:'idroid';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin:0px;
    padding: 0px;
   box-sizing: border-box; 
}
body{
    background-color: rgb(132, 225, 173);
    background-attachment: fixed;
    
}

header{
    background-image: linear-gradient(360deg, rgb(26, 92, 56), rgb(60, 217, 131));
    border: 0px;
    margin:0px;
    outline: 0px;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    border-radius: 0px 0px 10px 10px;
}
h1{
    text-align: center;
    font-family: 'idroid';
}
#subtitle{
    text-align: center;
    font: normal normal 1em Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 40px;

}
nav{
    margin-top: 40px;
    margin-left: 5px;
    text-align: justify;
    font: normal normal 1.1em Arial, Helvetica, sans-serif;
    
     }

     nav > a{
        margin-right: 5px;
        color: white;
        text-decoration: none;
        
        border-radius: 5px;
        transition-duration: 0.5s;
        padding: 5px 5px 2px 5px;
        font-weight: bold;
     }
     
     nav>a:hover{
        background-color:rgb(132, 225, 173);;
        color:  rgb(26, 92, 56);
        
     }
     nav>a:active{
        color: blueviolet;
     }
     
main{
    background-color: white;
    /*margin-left: 250px;
    margin-right: 250px;*/
    margin: auto;
    padding: 10px 30px 20px 30px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.623);
    min-width: 320px;
    max-width: 1000px;
    
}

h2{
    font-family: 'idroid';
    color: rgb(48, 108, 76);
}
h3{
    font-family: 'idroid';
    color: rgb(48, 108, 76);
    background-image: linear-gradient(to right, rgba(48, 108, 76, 0.562) , rgba(255, 255, 255, 0) 20%);
    border-radius: 5px;
    padding-left: 3px;
}
article{
    text-indent: 20px;
    text-align: justify;
    line-height: 20em; /* nao foi definido pois os parametros de font abaixo ja definem o line height baseado na unica unidade de medida utilizada*/
    margin-bottom: 20px;
    margin-top: 10px;
    font: normal normal 1.2em Arial, Helvetica, sans-serif;

}
article > p{
    margin: 20px 0px 20px 0px;
}
article > strong::before{
    content: '🖈';
}
section{
    padding: none;
}
section > p{
    text-indent: 20px;
    font: normal normal 1.2em Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
}
img{
    display: block; /*para transformar a imagem em um elemento de bloco*/
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
   
    width: 100%;
    margin: auto;
    
    
}
.irina{
    max-width: 1000px;
    min-width: 10px;
}
img.bugdroid{
    width: 100%;
    max-width: 400px;
    min-width: 300px;
    
}
iframe{
    display: block;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    margin: 0 auto;
}
div.video{
   
    background: linear-gradient(to bottom,rgb(132, 225, 173) , rgb(48, 108, 76) );
    background-attachment: fixed;
    margin: 0px -30px 0px -30px;
    padding: 20px;
    position: relative;
    padding-bottom: 50%;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
.plusTopic{
    margin-top: 10px;
    padding-left: 10px;
font-family: 'idroid';
    color: rgb(255, 255, 255);
    background-color:rgb(48, 108, 76);
    border-radius: 5px;
    margin-bottom: 0px;
}
.plus{
    background-color: rgb(197, 235, 214);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.623);
    border-radius: 5px;
    padding: 1%;
    margin-top: 0px;
    width: 100%;
  
}
.plus > ul{
    columns:2;
}
abbr{
    text-decoration-line: none;
}
li::before{
    content:'✔ ';
}
footer{
    margin: 15px 0px 0px 0px;
    text-align: center;
    font-family: 'idroid';
    background-color:rgb(48, 108, 76);
}

